.aui {
	body {
		#wrapper {
			#content {				
				.jcarousel-wrapper {position: relative;
					.photo-credits {bottom: 0;color: #FFFFFF;font-size: 13px;opacity:0.66;position:absolute;right:15px;text-shadow: 0 0 1px rgba(0, 0, 0, 0.85);}
					.photo-credits a {color: #FFFFFF;}
					.jcarousel {height:600px;overflow:hidden;position:relative;width:540px;
						ul {list-style:none outside none;margin:0;padding:0;position:relative;width:20000em;}
						li {float: left;}
					}
					.jcarousel-banner {height:92px;overflow:hidden;position:relative;width:530px;margin-left: 10px;
						ul {width:100%;height:20000em;list-style:none outside none;margin:0;padding:0;position:relative;}
						li {height:92px;float: left;}
					}
				}				
				.jcarousel-control-prev, .jcarousel-control-next {font-weight:bold;background:none repeat scroll 0 0 #445894;border-radius:30px 30px 30px 30px;box-shadow:0 0 2px #999999;color:#3A90AB;font-size:24px;height:25px;position:absolute;text-align:center;text-decoration:none;text-shadow:0 0 1px #000000;top:200px;width:30px;padding-top:5px;}
				.jcarousel-control-prev {left:160px;top:220px;}
				.jcarousel-control-next {right:165px;top:220px;}
				.jcarousel-control-prev:hover span, .jcarousel-control-next:hover span {display: block;}
				.jcarousel-control-prev.inactive, .jcarousel-control-next.inactive {cursor: default;opacity: 0.5;}
				.jcarousel-pagination {height:30px;width:175px;bottom:0;top:470px;left:220px;position:absolute;
					a {background: none repeat scroll 0 0 #FFFFFF;border-radius: 14px 14px 14px 14px;color:rgb( 62, 190, 155 );display: inline-block;font-size: 11px;line-height: 14px;margin-right:10px;min-width: 14px;opacity: 0.75;padding: 3px;text-align: center;text-decoration: none;}
					a.active {background: none repeat scroll 0 0 #3EBE9B;color:#FFFFFF;opacity: 1;text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);}
				}
				.carousel-caption-title {color:#FFFFFF;font-weight:bold;position:relative;text-align:left;margin-left:20px;top:-50px;}
				.carousel-caption-descr {color:#FFFFFF;position:relative;font-size:12px;text-align:left;margin-left:20px;top:-50px;}				
			
				.jcarousel-skin-default .jcarousel-vertical,
				.jcarousel-skin-default .ver-ti-cal {
				    position: relative;
				    overflow: hidden;
				    width: 75px;
				    height: 265px;
				    border: 1px solid #000;
				}
				
				.jcarousel-skin-default .jcarousel-vertical ul,
				.jcarousel-skin-default .ver-ti-cal ul {
				    width: 100%;
				    height: 20000em;
				    position: relative;
				    list-style: none;
				    margin: 0;
				    padding: 0;
				}
				
				.jcarousel-skin-default .jcarousel-vertical li,
				.jcarousel-skin-default .ver-ti-cal li {
				    height: 75px;
				    margin: 0 0 10px 0;
				    padding: 0;
				}
				
				/** Custom **/
				
				.jcarousel-skin-default li img {
				    border: 0;
				    display: block;
				}
			}
		}
	}
}	