.aui body #wrapper #content {
  /** Custom **/ }
  .aui body #wrapper #content .jcarousel-wrapper {
    position: relative; }
    .aui body #wrapper #content .jcarousel-wrapper .photo-credits {
      bottom: 0;
      color: #FFFFFF;
      font-size: 13px;
      opacity: 0.66;
      position: absolute;
      right: 15px;
      text-shadow: 0 0 1px rgba(0, 0, 0, 0.85); }
    .aui body #wrapper #content .jcarousel-wrapper .photo-credits a {
      color: #FFFFFF; }
    .aui body #wrapper #content .jcarousel-wrapper .jcarousel {
      height: 600px;
      overflow: hidden;
      position: relative;
      width: 540px; }
      .aui body #wrapper #content .jcarousel-wrapper .jcarousel ul {
        list-style: none outside none;
        margin: 0;
        padding: 0;
        position: relative;
        width: 20000em; }
      .aui body #wrapper #content .jcarousel-wrapper .jcarousel li {
        float: left; }
    .aui body #wrapper #content .jcarousel-wrapper .jcarousel-banner {
      height: 92px;
      overflow: hidden;
      position: relative;
      width: 530px;
      margin-left: 10px; }
      .aui body #wrapper #content .jcarousel-wrapper .jcarousel-banner ul {
        width: 100%;
        height: 20000em;
        list-style: none outside none;
        margin: 0;
        padding: 0;
        position: relative; }
      .aui body #wrapper #content .jcarousel-wrapper .jcarousel-banner li {
        height: 92px;
        float: left; }
  .aui body #wrapper #content .jcarousel-control-prev, .aui body #wrapper #content .jcarousel-control-next {
    font-weight: bold;
    background: none repeat scroll 0 0 #445894;
    border-radius: 30px 30px 30px 30px;
    box-shadow: 0 0 2px #999999;
    color: #3A90AB;
    font-size: 24px;
    height: 25px;
    position: absolute;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 0 1px #000000;
    top: 200px;
    width: 30px;
    padding-top: 5px; }
  .aui body #wrapper #content .jcarousel-control-prev {
    left: 160px;
    top: 220px; }
  .aui body #wrapper #content .jcarousel-control-next {
    right: 165px;
    top: 220px; }
  .aui body #wrapper #content .jcarousel-control-prev:hover span, .aui body #wrapper #content .jcarousel-control-next:hover span {
    display: block; }
  .aui body #wrapper #content .jcarousel-control-prev.inactive, .aui body #wrapper #content .jcarousel-control-next.inactive {
    cursor: default;
    opacity: 0.5; }
  .aui body #wrapper #content .jcarousel-pagination {
    height: 30px;
    width: 175px;
    bottom: 0;
    top: 470px;
    left: 220px;
    position: absolute; }
    .aui body #wrapper #content .jcarousel-pagination a {
      background: none repeat scroll 0 0 #FFFFFF;
      border-radius: 14px 14px 14px 14px;
      color: #3ebe9b;
      display: inline-block;
      font-size: 11px;
      line-height: 14px;
      margin-right: 10px;
      min-width: 14px;
      opacity: 0.75;
      padding: 3px;
      text-align: center;
      text-decoration: none; }
    .aui body #wrapper #content .jcarousel-pagination a.active {
      background: none repeat scroll 0 0 #3EBE9B;
      color: #FFFFFF;
      opacity: 1;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75); }
  .aui body #wrapper #content .carousel-caption-title {
    color: #FFFFFF;
    font-weight: bold;
    position: relative;
    text-align: left;
    margin-left: 20px;
    top: -50px; }
  .aui body #wrapper #content .carousel-caption-descr {
    color: #FFFFFF;
    position: relative;
    font-size: 12px;
    text-align: left;
    margin-left: 20px;
    top: -50px; }
  .aui body #wrapper #content .jcarousel-skin-default .jcarousel-vertical,
  .aui body #wrapper #content .jcarousel-skin-default .ver-ti-cal {
    position: relative;
    overflow: hidden;
    width: 75px;
    height: 265px;
    border: 1px solid #000; }
  .aui body #wrapper #content .jcarousel-skin-default .jcarousel-vertical ul,
  .aui body #wrapper #content .jcarousel-skin-default .ver-ti-cal ul {
    width: 100%;
    height: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0; }
  .aui body #wrapper #content .jcarousel-skin-default .jcarousel-vertical li,
  .aui body #wrapper #content .jcarousel-skin-default .ver-ti-cal li {
    height: 75px;
    margin: 0 0 10px 0;
    padding: 0; }
  .aui body #wrapper #content .jcarousel-skin-default li img {
    border: 0;
    display: block; }

