#featured {
  background: url("../images/orbit/loading.gif") no-repeat scroll center center black;
  height: 500px;
  overflow: hidden;
  width: 1024px; }

#featured > img, #featured > div, #featured > a {
  display: none; }

div.orbit-wrapper {
  height: 500px;
  position: relative;
  width: 1024px; }

div.orbit {
  height: 1px;
  overflow: hidden;
  position: relative;
  width: 1px; }

div.orbit > img {
  display: none;
  left: 0;
  position: absolute;
  top: 0; }

div.orbit > a {
  border: medium none;
  display: none;
  height: 100%;
  left: 0;
  line-height: 0;
  position: absolute;
  top: 0;
  width: 100%; }

.orbit > div {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%; }

div.timer {
  cursor: pointer;
  height: 40px;
  opacity: 0.6;
  overflow: hidden;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  z-index: 1001; }

span.rotator {
  background: url("../images/orbit/rotator-black.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  display: block;
  height: 40px;
  left: -20px;
  position: absolute;
  top: 0;
  width: 40px;
  z-index: 3; }

span.mask {
  display: block;
  height: 40px;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  width: 20px;
  z-index: 2; }

span.rotator.move {
  left: 0; }

span.mask.move {
  background: url("../images/orbit/timer-black.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
  left: 0;
  width: 40px; }

span.pause {
  background: url("../images/orbit/pause-black.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  display: block;
  height: 40px;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 40px;
  z-index: 4; }

span.pause.active {
  background: url("../images/orbit/pause-black.png") no-repeat scroll 0 -40px rgba(0, 0, 0, 0); }

div.timer:hover span.pause, span.pause.active {
  opacity: 1; }

.orbit-caption {
  display: none;
  font-family: "HelveticaNeue","Helvetica-Neue",Helvetica,Arial,sans-serif; }

.orbit-wrapper .orbit-caption {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6);
  bottom: 0;
  color: #FFFFFF;
  font-size: 13px;
  padding: 7px 0;
  position: absolute;
  right: 0;
  text-align: center;
  width: 100%;
  z-index: 1000; }

div.slider-nav {
  display: block; }

div.slider-nav span {
  cursor: pointer;
  height: 100px;
  margin-top: -50px;
  position: absolute;
  text-indent: -9999px;
  top: 50%;
  width: 78px;
  z-index: 1000; }

div.slider-nav span.right {
  background: url("../images/orbit/right-arrow.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
  right: 0; }

div.slider-nav span.left {
  background: url("../images/orbit/left-arrow.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
  left: 0; }

.orbit-bullets {
  bottom: -40px;
  left: 50%;
  list-style: none outside none;
  margin-left: -50px;
  padding: 0;
  position: absolute;
  z-index: 1000; }

.orbit-bullets li {
  background: url("../images/orbit/bullets.jpg") no-repeat scroll 4px 0 rgba(0, 0, 0, 0);
  color: #999999;
  cursor: pointer;
  float: left;
  height: 12px;
  margin-left: 5px;
  overflow: hidden;
  text-indent: -9999px;
  width: 13px; }

.orbit-bullets li.active {
  background-position: -8px 0;
  color: #222222; }

.orbit-bullets li.has-thumb {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  height: 75px;
  width: 100px; }

.orbit-bullets li.active.has-thumb {
  background-position: 0 0;
  border-top: 2px solid #000000; }

